.textoazul{
color:blue;
}
.textoroxo{
color:rgb(97, 64, 173);
}
.textorosa{
color:palevioletred;
}
.imagemdopark{
width:1000px;
}
h4{
color:black;

}
p{
text-align:center;
}
img{
    text-align:center;  
    margin-right:200px; ;
}
h4{
    text-align:center;
}